*{
  scroll-behavior: smooth;
}

.app{
  min-height: 100vh;
  background-color: #39445a;
  color: white;
  padding-top: 130px;
  padding-bottom: 70px;
}
@media (max-width: 700px){
  .app{
    padding-top: 70px;
  }
}

.pageTitle{
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
  margin-bottom: 10px;
}
.loader{
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
  margin-right: 10px;
}

@media (max-width:1000px){
  .pageTitle{
    font-size: 4.4vw;
  }
}